html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}



body {
  display: grid;
}
main {
  display: contents;
  grid-template-columns: 1fr 1fr;
}

header {
  display: contents;
  grid-template-columns: 1fr;
}

header img {
  grid column: 1 / -1;
  grid-row: 1 / -1;
}

h2 {
  font-family: "Patua One";
  color: #30658d;
}

figure {
  margin: 1rem;
}

nav ul {
  list-style-type: none;
  z-index: 1;
}

a {
  font-family: "Patua One";
  color: #fff;
  font-size: 2rem;
}
