html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "banner banner"
    "column1 column2";
  padding: 1rem;
}

main {
  display: contents;
}

.pano {
  grid-area: banner;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  width: 14rem;
  margin: 0 0 1rem 1rem;
  z-index: 1;
  align-self: end;
}

header img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

h2 {
  font-family: "Patua One";
  color: #30658d;
}

figure {
  margin: 1rem;
}

nav {
  grid-column: 2 / -1;
  grid-row: 1;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

a {
  font-family: "Patua One", sans-serif;
  color: #fff;
  font-size: 2rem;
}

li {
  padding: 1rem;
}

figure:nth-child(1) {
  grid-area: column1;
  margin: 0;
}

figure:nth-child(2) {
  grid-area: column2;
  margin: 0;
}
